body{
  background-color: floralwhite;
}
h3{
  color: #5A124A;
}
p, ul{
  color: #D7319A;
}
nav {
    color: white;
    background-color: #7D1815;
    margin: 20px;
    padding: 13px;
    width: 435px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
a{
  color: pink;
}
a.active{
  background-color: #5D6404;
  color: white;
}
a:hover:not(.active){
  background-color: white;
  color: #F568F2;
  padding:3px;
}
