body {
    background-color: antiquewhite;
}

h2 {
    color: white;
    background-color: #7D1815;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
}

div {
    color: #7D1815;
    border: 3px solid #7D1815;
    width: 45%;
    padding: 15px;
    margin-left: 10%;
    background-color: whitesmoke;
}

nav {
    color: white;
    background-color: #7D1815;
    margin: 20px;
    padding: 13px;
    width: 435px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

a {
    color: white;
}

a.active {
    background-color: #5D6404;
    color: white;
}

a:hover:not(.active) {
    background-color: white;
    color: #7D1815;
    padding: 3px;
}
