body {
    background-color: floralwhite;
}

h1 {
    color: #DAD30;
}

table,
td {
    border: 2px solid #333;
}

thead,
tfoot {
    background-color: #EEE703;
    color: #FDD9D;
}

td {
    color: #A7A204;
}

nav {
    color: white;
    background-color: #7D1815;
    margin: 20px;
    padding: 13px;
    width: 435px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

a {
    color: #5D6404;
}

a.active {
    background-color: #5D6404;
    color: white;
}

a:hover:not(.active) {
    background-color: white;
    color: #5D6404;
    padding: 3px;
}
